[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xampp
Exec=/media/Multimedia/Mega/Linux/Tweaks/xampp.sh
Icon=/opt/lampp/htdocs/favicon.ico
Categories=Application
Terminal=true